/* *{
    outline: 2px red dotted;
} */

.row {
    display: flex;
}

.col {
    flex: 1;
    background-color: aqua;
    padding: 10px;
    margin: 5px;
}
.col-2 {
    flex: 3;
    background-color: aqua;
    padding: 10px;
    margin: 5px;
}